body {
    background-color: rgb(186, 180, 180);
    padding: 10px 20px;
    border-bottom: 2px solid #c9c9c9;
}

.toolbar {
    display: flex;  
    gap: 10px;
}

.toolbar a {
    text-decoration: nome;
    color: black;
    background: white;
    border: 1px solid #aea8a8;
    padding: 5px 10px;
}

